<h3 style=" color: #EE82EE ; text-align: center "> Knock Knock Knock </h3>
<section class="bg-light p-3">
    <h1 style="background-color:#DA70D6 ;color:#4B0082 ;text-align: center "> Who is there ?  </h1>
</section>

<section class="bg-light p-3">
    <h1 style="text-align: center ">
        Hi !
        we will take your time ,  {{ name }} wants to tell you something </h1>

    <p style="text-align: center ">   {{message}}  </p>



</section>



<section class="bg-light p-3">
    <h1 style="background-color:#DA70D6 ;color:#4B0082 ;text-align: center "> Thanks ! </h1>
</section>
<section class="bg-light p-3">

    <img src="mf.png" alt="Metafitness" style="width:128px;height:128px;">
</section>